.link {
    cursor: pointer;
    display: inline-flex;
    width: 100%;
    background-color: #EAECF0;
    height: 60px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 11px 0;
}


@media screen and (max-width: 500px) {
    .link {
        height: 50px;
        border-bottom: 20px;
    }
}